:root{
  /* ===== Colors ===== */
  --body-color: #1C2235;
  /* --sidebar-color: #151927; */
  --box-color: #262C40;
  --text1-color: #Fff;
  --text2-color: #24C8E9;
  --confirm-color: #6c8bab;
  --cancel-color: #914355;
}


.form-control{
  background-color: var(--box-color) !important;
  width: 330px !important;
  border-radius: 15px;
  box-sizing: border-box !important;
  border-top: 3px solid transparent !important;
  border-left: 3px solid transparent !important;
  border-right: 3px solid transparent !important;
  border-bottom: 0 !important;
  background-clip: padding-box !important;
  box-shadow: 1px 12px 1px -3px #171b27 !important;
  color: var(--text1-color) !important;
}

.form-control::placeholder {
  color: #918e8e !important;
}

.modal {
  display: none; 
  position: fixed;
  background-color: rgba(21, 25, 39, 0.541);
  z-index: 1;
  border-radius: 20px !important;
  box-sizing: border-box !important;
  border: 6px solid transparent !important;
  background-clip: padding-box !important; 

}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #171c2c !important;
  width: 30% !important;
  border-radius: 20px !important;
  box-sizing: border-box !important;
  border: 6px solid transparent !important;
  background-clip: padding-box !important;

}

.cabinet-code{
 color: var(--text2-color);
 font-weight: 600;
 font-size: 23px;
}

.found{
  color: var(--text2-color);
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 0 !important;
  margin-left: 1rem !important;

}

.issue{
  color: var(--text1-color);
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  /* margin-left: 2rem !important; */

}

.code{
  color: #918e8e;
  font-size: 20px;
  margin-bottom: 0 !important;
}

.errorMessage{
  color: red;
  /* font-size: 20px; */
  margin: 0 0 0.5rem 0 !important;
  display: none;

}


.scan-btn-1{
  background-color: var(--confirm-color);
  width: 30% !important;
  border-radius: 13px;
  box-sizing: border-box !important;
  border-top: 3px solid transparent !important;
  border-left: 3px solid transparent !important;
  border-right: 3px solid transparent !important;
  border-right: 3px solid transparent !important;
  border-bottom: none !important;
  background-clip: padding-box !important;
  color: var(--text1-color);
  font-weight: 600;
  font-size: 15px;
  box-shadow: 1px 7px 1px -3px #56708a;

}



.confirm{
  background-color: var(--confirm-color);
  width: 30% !important;
  border-radius: 13px;
  box-sizing: border-box !important;
  border-top: 3px solid transparent !important;
  border-left: 3px solid transparent !important;
  border-right: 3px solid transparent !important;
  border-right: 3px solid transparent !important;
  border-bottom: none !important;
  background-clip: padding-box !important;
  color: var(--text1-color);
  font-weight: 600;
  font-size: 15px;
  box-shadow: 1px 7px 1px -3px #56708a;

}


.Cancel{
  background-color: var(--cancel-color);
  width: 30% !important;
  border-radius: 13px;
  box-sizing: border-box !important;
  border-top: 3px solid transparent !important;
  border-left: 3px solid transparent !important;
  border-right: 3px solid transparent !important;
  border-right: 3px solid transparent !important;
  border-bottom: none !important;
  background-clip: padding-box !important;
  color: var(--text1-color);
  font-weight: 600;
  font-size: 15px;
  box-shadow: 1px 7px 1px -3px #743443;

}


.fire{
  border-radius: 13px;
  border:3px solid #918e8e !important;
}
 

.fire-img{
  width: 130px !important;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  /* border-radius: 45%;
  border:3px solid transparent !important;
  margin: 1rem 0 1rem 0 !important; */
}




.fire-identified{
  color: var(--cancel-color);
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 0 !important;
  /* margin-left: 1rem !important; */

}

.fire-area{
  color: var(--text1-color);
  /* font-weight: 400; */
  font-size: 20px;
  margin-bottom: 0 !important;
  /* margin-left: 1rem !important; */
}

.fire-confirm{
  background-color: var(--confirm-color);
  width: 42% !important;
  border-radius: 13px;
  box-sizing: border-box !important;
  border-top: 3px solid transparent !important;
  border-left: 3px solid transparent !important;
  border-right: 3px solid transparent !important;
  border-bottom: none !important;
  background-clip: padding-box !important;
  color: var(--text1-color);
  font-weight: 600;
  font-size: 15px;
  box-shadow: 1px 7px 1px -3px #56708a;
  padding: 0 2rem 0 2rem !important;
  

}

.fire-Cancel{
  background-color: var(--cancel-color);
  width: 55% !important;
  border-radius: 13px;
  box-sizing: border-box !important;
  border-top: 3px solid transparent !important;
  border-left: 3px solid transparent !important;
  border-right: 3px solid transparent !important;
  border-bottom: none !important;
  background-clip: padding-box !important;
  color: var(--text1-color);
  font-weight: 600;
  font-size: 15px;
  box-shadow: 1px 7px 1px -3px #743443;
  padding: 0 2rem 0 2rem !important;
}

.fire-area-1{
  color: #918e8e;
  font-weight:bold ;
  font-size: 20px;
  margin-bottom: 0 !important;
}

.face-rgc{
  border-radius: 13px;
  border:3px solid #918e8e !important;
  /* padding: 5rem; */
}




.face-img-dash1{
  width: 120px !important;
  margin-top: 0.5rem;
}
.face-identified{
  color: var(--confirm-color);
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 0 !important;
  margin-left: 0.5rem !important;
}

.faceName{
  color: var(--text1-color) !important;
  /* font-weight: 400; */
  font-size: 20px;
  margin-left: 0.5rem !important;
  margin-bottom: 0 !important;
}

.blackWhite{
  color: var(--text1-color);
  /* font-weight: 400; */
  font-size: 20px;
  margin-bottom: 0 !important;
  margin-left: 0.5rem !important;
  
}

.status{
  color: #918e8e;
}

.face-confirm{
  background-color: var(--confirm-color);
  width: 150px !important;
  border-radius: 13px;
  box-sizing: border-box !important;
  border-top: 3px solid transparent !important;
  border-left: 3px solid transparent !important;
  border-right: 3px solid transparent !important;
  border-right: 3px solid transparent !important;
  border-bottom: none !important;
  background-clip: padding-box !important;
  color: var(--text1-color);
  font-weight: 600;
  font-size: 15px;
  box-shadow: 1px 7px 1px -3px #56708a;

}

.face-Cancel{
  background-color: var(--cancel-color);
  width: 150px !important;
  border-radius: 13px;
  box-sizing: border-box !important;
  border-top: 3px solid transparent !important;
  border-left: 3px solid transparent !important;
  border-right: 3px solid transparent !important;
  border-bottom: none !important;
  background-clip: padding-box !important;
  color: var(--text1-color);
  font-weight: 600;
  font-size: 15px;
  box-shadow: 1px 7px 1px -3px #743443;
  /* padding: 0 2rem 0 2rem !important; */
}




@media screen and (orientation: portrait) {


  .modal-content {
    width: 60% !important;
    padding: 2rem;
    padding-bottom: 2rem;
  }


}



